<h1>Editando resenha sobre Livro</h1>

<%= render "form", blog_livro: @blog_livro %>

<br>

<div>
  <%= link_to "Mostrar resenhas sobre livros", @blog_livro %> |
  <%= link_to "voltar par o blog livros", blog_livros_path %>
</div>
